root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
indent_size = 4

[*.{ts,html,scss,css,json,yml,yaml}]
indent_size = 2

[*.{cmd,bat,ps1}]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false

# No aplicar formato automático al material original de referencia.
[docs/apf2/**]
charset = unset
end_of_line = unset
indent_style = unset
indent_size = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
