// Generado con 'ng generate @angular/material:theme-color'.
// Regenerar las paletas mediante el schematic al cambiar los colores base.

@use 'sass:map';
@use '@angular/material' as mat;

// Colores de origen: primario: #173c4d, secundario: #087f8c, terciario: #087f8c
$_palettes: (
  primary: (
    0: #000000,
    10: #001e2b,
    20: #0d3445,
    25: #1b3f50,
    30: #284b5c,
    35: #345769,
    40: #406375,
    50: #597c8f,
    60: #7395a9,
    70: #8db0c5,
    80: #a8cce1,
    90: #c4e8fd,
    95: #e2f3ff,
    98: #f5faff,
    99: #fbfcff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #001f24,
    20: #00363d,
    25: #00424a,
    30: #004f57,
    35: #005b65,
    40: #006874,
    50: #148390,
    60: #3d9dab,
    70: #5cb8c6,
    80: #79d4e2,
    90: #95f1ff,
    95: #cff8ff,
    98: #edfcff,
    99: #f6feff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #001f24,
    20: #00363d,
    25: #00424a,
    30: #004f57,
    35: #005b65,
    40: #006874,
    50: #148390,
    60: #3d9dab,
    70: #5cb8c6,
    80: #79d4e2,
    90: #95f1ff,
    95: #cff8ff,
    98: #edfcff,
    99: #f6feff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1a1c1d,
    20: #2f3132,
    25: #3a3c3d,
    30: #454748,
    35: #515254,
    40: #5d5e60,
    50: #767778,
    60: #909192,
    70: #ababac,
    80: #c6c6c8,
    90: #e2e2e4,
    95: #f1f0f2,
    98: #faf9fa,
    99: #fdfcfd,
    100: #ffffff,
    4: #0d0e10,
    6: #121415,
    12: #1e2021,
    17: #292a2b,
    22: #333536,
    24: #38393b,
    87: #dadadb,
    92: #e8e8e9,
    94: #eeeeef,
    96: #f4f3f5,
  ),
  neutral-variant: (
    0: #000000,
    10: #161c20,
    20: #2b3135,
    25: #363c40,
    30: #42484c,
    35: #4d5357,
    40: #595f63,
    50: #72787c,
    60: #8c9196,
    70: #a6acb1,
    80: #c1c7cc,
    90: #dee3e8,
    95: #ecf1f6,
    98: #f5faff,
    99: #fbfcff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($_palettes, secondary),
  neutral: map.get($_palettes, neutral),
  neutral-variant: map.get($_palettes, neutral-variant),
  error: map.get($_palettes, error),
);

$primary-palette: map.merge(map.get($_palettes, primary), $_rest);
$tertiary-palette: map.merge(map.get($_palettes, tertiary), $_rest);
